<mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let cv of cvList">
        <mat-icon mat-list-icon>note</mat-icon>
        <h4 mat-line>{{cv.name}}</h4>
        <button mat-raised-button (click)="downloadFile(cv)">Download</button>
        <label class="delete" (click)="delete(cv)"><mat-icon mat-list-icon>delete</mat-icon></label>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="isShowAddCvs = true" mat-raised-button >Add CV</button>

    <cvs-add *ngIf="isShowAddCvs" (CVFileEmitter)="addCvFile($event)" (close)="isShowAddCvs = false"></cvs-add>
  </mat-card-actions>
