.contacts-info {
  position: relative;
}

.candidate-info-figure {
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  margin: 0;
  max-width: 300px;
  overflow: hidden;
  position: relative;
}

.candidate-info-figure:hover .overflow {
  opacity: 1;
  transition: opacity .2s ease-out 1.5s;
}

.overflow {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
  color: white;
}

.candidate-info-img {
  display: block;
  max-height: 30vh;
  min-width: 100%;
}

.img-uploader {
  cursor: pointer;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.editingInput {
  top: 3px;
  width: 50%;
}

.contacts-info-table {
  margin-left: 15px;
}

.contacts-info-table td {
  padding: 13px 5px;
}

.contacts-info-table td:first-child {
  width:1%;
}

.contacts-info-table td:last-child {
  font-weight: bold;
}

/*
matTooltip="Click to update the image"
[matTooltipShowDelay]="1000" */
