<mat-form-field>
  <mat-select placeholder="Sort">
    <mat-option value="dateAsc" (click) = "dateSort(true)">
      Date ASC
    </mat-option>
    <mat-option value="dateDesc" (click) ="dateSort(false)">
      Date DESC
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-card class="notes-info" fxLayout *ngFor="let note of notes; let i=index">
  <table fxFlex="1 1 auto" class="notes-info-table">
      <tr>
        <td>Note:</td>
        <td>{{note.Note}}</td>
      </tr>
      <tr>
        <td>Date:</td>
        <td>{{note.date | date}}</td>
      </tr>
  </table>

  <button mat-icon-button  [matMenuTriggerFor]="menu">
    <mat-icon >more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item (click)="onOpenEditDialog(i)"><span>Edit</span></button>
    <button mat-menu-item (click)="onDelete(i)"><span>Delete</span></button>

  </mat-menu>
</mat-card>
<button (click)="onOpenNewDialog()" mat-raised-button >Add Note</button>


