.experiences-info {
  position: relative;
}

.overflow {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
  color: white;
}


.editingInput {
  top: 3px;
  width: 50%;
}

.experiences-info-table {
  margin-left: 15px;
}

.experiences-info-table td {
  padding: 13px 5px;
}

.experiences-info-table td:first-child {
  width:1%;
}

.experiences-info-table td:last-child {
  font-weight: bold;
}

mat-card {
  margin-bottom: 10px;
}
