<mat-card class="contacts-info" fxLayout>
  <figure
    class="candidate-info-figure"
    fxLayout="column"
    fxLayoutAlign="center center"
    matRipple
    [matRippleColor]="'rgba(255,255,255, .2)'"
  >
    <img class="candidate-info-img" [src]="candidate?.attachments[0].filePath" />
    <div class="overflow">Click to update the image</div>
    <input
      type="file"
      id="img-uploader"
      style="display:none;"
      (change)="onFileUpload($event)"
    />
    <label for="img-uploader" class="img-uploader"></label>
  </figure>

  <table fxFlex="1 1 auto" class="notes-info-table">
    <tr>
      <td>Name:</td>
      <td>{{ candidate.name }}</td>
    </tr>
    <tr>
      <td>Surname:</td>
      <td>{{ candidate.surname || '&mdash;' }}</td>
    </tr>
    <tr>
      <td>Birthday:</td>
      <td>{{ (candidate.birthday | date) || '&mdash;' }}</td>
    </tr>
    <tr>
      <td>Salary:</td>
      <td>{{ (candidate.salaryInDollars | currency) || '&mdash;' }}</td>
    </tr>
  </table>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item (click)="onOpenEditDialog()">
      <span>Edit</span>
    </button>
  </mat-menu>
</mat-card>
